@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $darkGrey;
  padding: 3rem;
}

html {
  font-size: 62.5%;
}

/*Helper classes*/
.u-text-center {
  text-align: center;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.heading-tertiary {
  font-size: $defaultFont;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  font-size: $defaultFont;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
