/*Colors*/
$lightGreen: #7ed56f;
$mediumGreen: #55c57a;
$darkGreen: #28b485;

$darkGrey: #777;
$lightGrey: #f7f7f7;

$lightOrange: #ffb900;
$darkOrange: #ff7730;

$lightBlue: #2998ff;
$darkBlue: #5643fa;

/*Grid vars*/
$gridWidth: 114rem;
$gutterVertical: 8rem;
$gutterHorizontal: 6rem;

/*Font*/

$defaultFont: 1.6rem;
