/*Colors*/
$lightGreen: #7ed56f;
$mediumGreen: #55c57a;
$darkGreen: #28b485;
$darkGrey: #777;
$lightGrey: #f7f7f7;

/*Grid vars*/
$gridWidth: 114rem;
$gutterVertical: 8rem;
$gutterHorizontal: 6rem;

/*Font*/

$defaultFont: 1.6rem;
